{% extends "layout.html" %}

{% block title %}
    Plethori's Zoo of Crypto Creatures
{% endblock %}

{% block img %}
    <img src="/static/landing.jpg">
    <div id="zookeeper" style="border-radius: 50%; position: absolute; left: 32.5%; top: 38%; width: 9%; height: 13%;"></div>
    <a href="induction" class="glow-image" style="position: absolute; top: 67%; left: 58%; width: 6%; height: 17%; background-color: rgba(0, 128, 0, 0.486); transform: rotate(37deg);"></a>
{% endblock %}

{% block txt %}
    <script>
        let array = ["G'day mates! My name's Eve Stirwin. Can ya see what's behind me here? It's our <strong>Zoo of Crypto Creatures</strong>. <em>Exciting!</em> And today you're gonna get a <em>special</em> tour!",
        "Come and have a look at the <em>amazing</em> critters, but &ndash; please! &ndash; keep your hands away from the bars at all times. Our Shiba Inus haven't been fed this morning, and their bellies are rumbling.",
        "Go ahead and click on the door to enter..."];
    </script>
{% endblock %}