{% extends "layout.html" %}

{% block title %}
    ETFX Platform
{% endblock %}

{% block img %}
    <img src="/static/etfx-platform-plethori-zoo.png" class="img-fluid w-100">
    <div id="zookeeper" style="border-radius: 50%; position: absolute; left: 90%; top: 32%; width: 7.5%; height: 11.5%;"></div>
    <div id="chimera-button" class="oddbeat" style="position: absolute; left: 34.5%; bottom: 8.5%; width: 10%; height: 11%; --beatcolor: rgb(229, 255, 0);"></div>
    <div id="blur" style="visibility: hidden; position: fixed; background-color: rgba(0, 0, 0, 0.795); left: 0%; top: 0%; width: 100%; height: 100%;"></div>
    <div id="chimera-card" style="visibility: hidden; position: absolute; left: 50%; top: 50%; width: 50%; height: 99%; transform: translate(-50%, -50%); background-image: url(/static/chimera.png); background-size: 100% 100%;"></div>
    <div id="adopt" class="chimbutton">
        <form method="post">
            <div class="container">
                <h1>Adopt Your Chimera</h1>
                <p>Just name your chimera, and we'll send you the adoption pack! No spam.</p>
                <hr>
                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" required>
                <label for="chimera-name"><b>Name your chimera!</b></label>
                <input type="text" name="chimera-name" required>
                <!--THE BELOW INPUT'S VALUE IS SET BY JAVASCRIPT IN LAYOUT.HTML AT THE END OF THE RENDERBLUEPRINT FUNCTION-->
                <input type="hidden" id="adoptFormBlueprint" name="blueprint" value="--blueprint not found--"> 
                <div class="clearfix">
                    <button type="submit">Adopt</button>
                </div>
            </div>
        </form>


            

        </form>
    </div>
    <div id="share" class="chimbutton">
        <h1>Share your chimera!</h1>
        <a href="..." id="see-share-image">See share image</a>
    </div>
{% endblock %}




{% block txt %}
    <script>
        let array = ["Finally! It's our new ETF Exchange Platform! All our ETFs will be homed here soon for you to trade. What's an ETF? Well, imagine if you combined three, four, or even fifty of the animals you've seen today into one animal &ndash; a chimera!",
        "That chimera would be an ETF. The combination of many assets into one! ETFs allow you to adopt a share of many animals with just one purchase, rather than many separate purchases.",
        "That means one transaction fee, but many creatures to spread the risk of your investment! <em>Smart!</em>",
        "When you've finished staking creatures, then you can visit the ETFX below to meet your creation!"];
        etfxpage = true;
    </script>
{% endblock %}
    
