{% extends "layout.html" %}

{% block title %}
    ETFX Platform
{% endblock %}

{% block img %}
    <img src="/static/etfx-platform-plethori-zoo.png" class="img-fluid w-100">
    <div id="zookeeper" style="border-radius: 50%; position: absolute; left: 10%; top: 42%; width: 7.5%; height: 11.5%; background-color: rgba(46, 139, 86, 0.404);"></div>
    <div id="machine" style="position: absolute; left: 50%; top: 50%; width: 50%; height: 50%; background-color: rgba(46, 139, 86, 0.404); transform: translate(-50%, -50%)"></div>



{% endblock %}




{% block txt %}
    <script>
        let array = ["Finally! It's our new ETF Exchange Platform! All our ETFs will be homed here soon for you to trade. What's an ETF? Well, imagine if you combined three, four, or even fifty of the animals you've seen today into one animal &ndash; a chimera!",
        "That chimera would be an ETF. The combination of many assets into one! ETFs allow you to adopt a share of many animals with just one purchase, rather than many separate purchases.",
        "That means one transaction fee, but many creatures to spread the risk of your investment! <em>Smart!</em>",
        "When you've finished staking creatures, then you can visit the ETFX below to meet your creation!"];
    </script>
{% endblock %}
    
