{% extends "layout.html" %}

{% block title %}
    Sneak Peak
{% endblock %}

{% block main %}
    <h1>Plethori's Zoo - Sneak Peak</h1>
    <img src="/static/sneak-peak-plethori-zoo.png">
    <p>
        &rdquo;Here&rsquo;s the reason I&rsquo;ve been so excited today. Underneath this sheet lies the first range of Plethori&rsquo;s ETFs &ndash; each one a chimera combined from the animals you&rsquo;ve seen today! These monsters are soon gonna be set free into the&nbsp;<a href="etfx-platform"><strong>Plethori ETFX</strong></a>. Don&rsquo;t worry! We have the very best team of mad scientists putting them together right now. Our new platform will even let <strong><em>YOU&nbsp;</em></strong>create your own chimera, and earn a share of the profit each time they&rsquo;re traded on the ETFX. Wowzer!&rdquo;
    </p>
    <p>
        &ldquo;D'ya think you could be the crazed genius who creates the next king of chimeras? Then come back soon when the ETFX is finished! If you want to be one of the first to get in, click below and I&rsquo;ll notify ya when the platform is ready.&rdquo;
    </p>
    <br>
    <button type="button" class="h1 btn btn-primary btn-lg mb-5 ">Notify Me!</button>

{% endblock %}