{% extends "layout.html" %}

{% block title %}
    Extinct Coins
{% endblock %}

{% block img %}
    <div id="enclosure">
        <img src="/static/extinct-coins-plethori-zoo.jpg"class="img-fluid">
    </div>
    {% endblock %}

{% block txt %}
    <script>
        let array = ["Struth! He's a beast, isn't he? Or he was, before we bolted his bones together here. This dino is one of the <strong>extinct coins</strong>.",
        "Giant flaming meteor or giant flaming hacking attack, many fail to survive in the harsh planes of the virtual world. Every skeleton here is a lesson. So have browse. 'Cause ya gotta study all creatures &ndash; alive and dead &ndash; to understand the crypto kingdom.",
        "Ya can't stake these guys. They've long lost their apetite."];
    </script>
{% endblock %}