{% extends "layout.html" %}

{% block title %}
    Plethori's Zoo of Crypto Creatures
{% endblock %}

{% block img %}
        <img src="/static/table.jpg">
        <div id="zookeeper" style="border-radius: 50%; position: absolute; left: 1%; top: 60%; width: 10%; height: 15.33%; background-image: url(/static/head.png); background-position: center; background-repeat: no-repeat; background-size: cover;"></div>
        <div title="A holographic stake/steak, for selecting creatures" style="border-radius: 50%; position: absolute; left: 21%; top: 74%; width: 60%; height: 25%; transform: rotate(-12deg);"></div>
        <div title="A holographic stake/steak, for selecting creatures" style="border-radius: 50%; position: absolute; left: 58%; top: 68%; width: 30%; height: 36%;"></div>
        <div title="A holographic stake/steak, for selecting creatures" style="border-radius: 50%; position: absolute; left: 50%; top: 60%; width: 30%; height: 20%;"></div>
        <div title="Darkweb Goggles, for finding creatures in the Dark Zone" style="border-radius: 50%; position: absolute; left: 5%; top: 14%; width: 29%; height: 22%;"></div>
        <div title="FOMOlaroid camera, so you don't miss out" style="border-radius: 50%; position: absolute; left: 76%; top: 3%; width: 20%; height: 35%;"></div>
        <div title="It's a pen! Just a pen..." style="position: absolute; left: 19%; top: 71.5%; width: 20%; height: 5%; transform: rotate(-12deg);"></div>
        <div title="Plethori branded T-shirts, because... Marketing!" style="border-radius: 50%; position: absolute; left: 29%; top: 5%; width: 25%; height: 23%; transform: rotate(20deg);"></div>
{% endblock %}

{% block txt %}
    <script>
        let array = ["Here in the zoo, you can learn about cryptocurrencies by observing their zoomorphic projections, experiment combinining those assets into chimeras, then adopt your creature and watch it grow.",
        "Once made, your chimera will represent an ETF. That's <em><strong>E</strong>xchange-<strong>T</strong>raded <strong>F</strong>und</em>. A fund made by combining multiple crypto assets into one. Click <span style='color: red;'><strong>help</strong></span> to learn more about ETFs.",
        "Now, did ya know there's only <em>one</em> food in the <em>whole</em> world that <em>all</em> our holographic crypto creatures like?",
        "<strong>Stakes</strong>! You've got six <span style='color: red;'><strong>virtual steaks</strong></span> to use, so toss them out when you see a creature ya like! Just click and drag them onto a creature to select it.",
        "Each time you stake a creature, one sixth of it is added to your chimera blueprint. Then you can go to the <span style='color: red;'><strong>ETFX</strong></span> in centre of the zoo to see your chimera come to life! You'll find the ETFX in the centre of the map.",
        "To explore the zoo, click on the <span style='color: red;'><strong>minimap</strong></span> on the bottom left. You'll see each enclosure is home to a different type of crypto creature.",
        "I'll accompany you to offer you tips and advice about the different types of crypto creatures. Just <span style='color: red;'><strong>click on me</strong></span> to talk.",
        "For extra info about the Zoo, ETFs, and Plethori, click the <span style='color: red;'><strong>help icon</strong></span> on the bottom right.",
        "That's it! Click the <span style='color: red;'><strong>minimap</strong></span> to start exploring our enclosures, then drag the steaks onto your chosen creatures, and then go to the ETFX to make your chimera!"];
        induction = true;
    </script>
{% endblock %}