{% extends "layout.html" %}

{% block title %}
    Privacy Coins
{% endblock %}

{% block img %}
        <img src="/static/privacy.jpeg">
{% endblock %}    

{% block txt %}    
    <script>
        let array = ["Best put on your darkweb goggles. Here we have the <strong>privacy coin</strong> critters, who just love an environment that keeps our identities out of the light.",
        "In this darkness you can chuck em as many stakes as ya like. Nobody &ndash; not even the taxman &ndash; will have a clue. But I didn't tell ya that! Amazing anonymising animals!",
        "Stake these guys if you want a chimera that works under the cover of darkness"];
    </script>
{% endblock %}