{% extends "layout.html" %}

{% block title %}
    Stable Coins
{% endblock %}

{% block img %}
    <img src="/static/stable-coins-plethori-zoo.jpg">
{% endblock %}


{% block txt %}
    <script>
        let array = ["Finally, we arrive at the <strong>stablecoins</strong>. Don't let the name fool you &ndash; these are tokens, not coins. See how these big beasts all move so slowly? That's because they've traded dynamicism for stability.",
        "Being so big in the open plains here means they're subject to strong winds. But with powerful legs they endure turbulence by bracing against any sudden movements in their environment.",
        "Outstanding! So satisfying to watch them steadily progressing on. Slowly but surely.",
        "Stake these guys if you want a strong-legged chimera able to withstand volatility"];
    </script>
{% endblock %}
