{% extends "layout.html" %}

{% block title %}
    Sustainable Coins
{% endblock %}

{% block img %}
        <img src="/static/sustainable.jpg">
        <div id="zookeeper" style="border-radius: 50%; position: absolute; left: 42%; top: 52%; width: 7.5%; height: 11.5%"></div>
{% endblock %}

{% block txt %}
    <script>
        let array = ["Wow! Isn't it a beauty?! This is our enclosure of <strong>sustainable coins</strong>. These critters look like plants, and they do oxygenate the water for our whole zoo, but they are in fact animals, like you and me!",
        "Look at them. Just beautiful, right? Most other critters here take a toll on their environment, but these corals help to restore it! We can learn a lot from these beauts. I just love to look at em!",
        "Stake these guys if you want a chimera that replenishes their environment!"];
    </script>
{% endblock %}






