{% extends "layout.html" %}

{% block title %}
    The Arboretum - Security Tokens
{% endblock %}

{% block img %}
    <div id="enclosure">
        <img src="/static/security-tokens-plethori-zoo.png" class="img-fluid w-100">
        <div id="zookeeper" style="border-radius: 50%; position: absolute; left: 72%; top: 13%; width: 20%; height: 30%"></div>
        <div class="creature" id="ETH" style="border-radius: 50%; position: absolute; left: 5%; top: 80%; width: 10%; height: 15%; --animation-order: 1;"></div>
        <div class="creature" id="FST" style="border-radius: 50%; position: absolute; left: 35%; top: 80%; width: 10%; height: 15%; --animation-order: 3;"></div>
        <div class="creature" id="BCAP" style="border-radius: 50%; position: absolute; left: 65%; top: 80%; width: 10%; height: 15%; --animation-order: 5;"></div>
        <div class="creature" id="SPICE" style="border-radius: 50%; position: absolute; left: 80%; top: 80%; width: 10%; height: 15%; --animation-order: 5;"></div>
    </div>
{% endblock %}

{% block txt %}
    <script>
        let array = ["Let's all take a moment to rest under the shade of the <strong>security token</strong> trees here. These guys are rooted in real world assets. Makes you feel secure, doesn't it?",
        "It's nice to get away from the virtual and back to reality for a moment. On that note, you'll find a leaflet called 'Avoiding Cryptomania' in your welcome packs.",
        "Cryptomania is a non-life-threatening disease characterised by the compulsion to know everything about crypto. Symptoms include constant talking, reading, and listening to crypto media, usually accompanied by the purchasing of bitcoin.",
        "Staking these guys will ensure your chimera is firmly rooted to its foundation"];
    </script>
{% endblock %}