{% extends "layout.html" %}

{% block title %}
    Utility Tokens
{% endblock %}

{% block img %}
    <div id="enclosure">
        <img src="/static/utility-tokens-plethori-zoo.jpg" class="img-fluid">
    </div>
{% endblock %}

{% block txt %}
    <script>
        let array = ["On your left, you'll see the hardworking beasts of burden &ndash; the <strong>utility tokens</strong>! These fellers have been around forever! Gift cards, bus tickets, poker chips &ndash; all examples of utility tokens from the pre-crypto-lithic period.",
        "Today we can see they've entered the virtual world successfully; the BNB horse, standing tall, besides the double-humped DOT camel, and the powerful PLE oxe...",
        "Stake these guys if you want a chimera built for work!"];
    </script>
{% endblock %}